/* 浮动 */
.u-clearfix:after {
  content: ' ' !important;
  display: block;
  visibility: hidden;
  clear: both;
  font-size: 0;
  height: 0;
}
.u-left {
  float: left;
}
.u-right {
  float: right;
}

/* 单行、多行省略 */
.u-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.u-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
